	
	/* docs.css */
	
	body {
		background: #f4f0e7;
	}
	
	.sidebar {
		background: #fff;
		height: 100%;
	}
	
	.canvas,
	.index {
		padding: 0 2em 2em 2em;
		background: #f4f0e7;
		min-height: 100%;
	}
	
	dl.details,
	dl.types {
		margin-top: 20px;
	}
	
	h3.subsection-title {
		border-top: 2px solid #fff;
		padding-top: 10px;
	}
	
	dl.methods h3,
	dl.members h3 {
		border-top: 1px dotted #bababa;
		padding-top: 10px;
	}
	
	pre {
		background: #fff;
	}
	
	span.type-signature,
	span.param-type {
		color: #929292;
	}
	
	.param-desc {
		margin-bottom: 20px;
	}
	
	@media (max-width: 767px) {
	
		.footer {
			margin-top: 2em;
		}
		
		.canvas {
			margin-top: 0;
		}
	
	}
	
	@media (max-width: 991px) {
	
		html,
		body {
			height: auto;
			min-height: auto;
		}
		
		body {
			margin-top: 0;
		}
		
		#logo {
			padding: 0 20%;
		}
		
		.navbar-brand {
			height: auto;
		}
		
		.navbar-toggle {
			margin-top: 16px;
			margin-bottom: 16px;
		}
		
		.navbar-form {
			border: 0;
			margin: 0;
			padding: 16px;
		}
		
		.sidebar {
			position: static;
		}
		
		.sidebar .nav.nav-pills {
			margin-bottom: 1em;
		}
		
		.canvas {
			margin-top: 0;
		}
		
	}
