	
	/* docs.css */
	
	body {
		background: #f4f0e7;
	}
	
	.sidebar {
		background: #fff;
		height: 100%;
	}
	
	.canvas,
	.index {
		padding: 0 2em 2em 2em;
		background: #f4f0e7;
		min-height: 100%;
	}
	
	dl.details,
	dl.types {
		margin-top: 20px;
	}
	
	h3.subsection-title {
		border-top: 2px solid #fff;
		padding-top: 10px;
	}
	
	dl.methods h3,
	dl.members h3 {
		border-top: 1px dotted #bababa;
		padding-top: 10px;
	}
	
	pre {
		background: #fff;
	}
	
	span.type-signature,
	span.param-type {
		color: #929292;
	}
	
	.param-desc {
		margin-bottom: 20px;
	}
	
	@media (max-width: 991px) {
		
		.footer,
		.index {
			margin-top: 2em;
		}
		
		.canvas {
			margin-top: 0;
		}
		
	}
