	
	/* style.css */
	
	html,
	body {
		height: 100%;
		min-height: 100%;
	}
	
	body {
		margin: 0;
		padding: 0;
		font-family: "Droid Sans", sans-serif;
		background: #fff;
	}
	
	#logo {
		margin: 1em 0 2em 0;
		width: 100%;
		padding: 0 10%;
	}
	
	#logo img {
		margin: 0 auto;
	}
	
	#company a {
		display: block;
		width: 120px;
		margin: 0 auto;
	}
	
	footer,
	.footer {
		color: #787878;
	}

	.footer {
		margin-top: 20%;
	}
	
	.sidebar {
		position: fixed;
		top: 0;
		padding: 8% 2% 0 2%;
	}
	
	.canvas {
		padding: 0 5% 2em 5%;
		background: #f4f0e7;
		min-height: 100%;
	}
	
	p.text {
		max-width: 800px;
	}
	
	footer hr {
		margin-top: 4em;
	}
	
	@media (max-width: 767px) {
		
		body {
			margin-top: 0;
		}
		
		.navbar-brand {
			height: auto;
		}
		
		.navbar-toggle {
			margin-top: 16px;
			margin-bottom: 16px;
		}
		
		.navbar-form {
			border: 0;
			margin: 0;
			padding: 16px;
		}
		
		.sidebar {
			position: static;
		}
		
		.footer,
		.canvas {
			margin-top: 2em;
		}
		
	}
