	
	/* style.css */
	
	html,
	body {
		height: 100%;
		min-height: 100%;
	}
	
	body {
		margin: 0;
		padding: 0;
		font-family: "Droid Sans", sans-serif;
		background: #fff;
	}
	
	#logo {
		margin: 1em 0 2em 0;
		width: 100%;
		padding: 0 10%;
	}
	
	#logo img {
		margin: 0 auto;
	}
	
	#company a {
		display: block;
		width: 120px;
		margin: 0 auto;
	}
	
	footer,
	.footer {
		color: #787878;
	}

	.footer {
		margin-top: 20%;
	}
	
	.sidebar {
		position: fixed;
		top: 0;
		padding: 8% 2% 0 2%;
	}
	
	.sidebar-bottom {
		padding: 0 2% 2% 2%;
	}
	
	.canvas {
		padding: 0 5% 2em 5%;
		background: #f4f0e7;
		min-height: 100%;
	}
	
	.text {
		max-width: 800px;
		margin-bottom: 1em;
	}
	
	footer hr {
		margin-top: 4em;
	}
	
	.sidebar .nav-pills > li.active > a,
	.sidebar .nav-pills > li.active > a:hover,
	.sidebar .nav-pills > li.active > a:focus,
	.sidebar .nav > li > a:hover,
	.sidebar .nav > li > a:focus {
		background: #f4f0e7;
		color: #363636;
	}
	
	.canvas .nav > li > a {
		background: #fff;
		color: #363636;
	}
	
	.canvas .nav > li > a:hover,
	.canvas .nav > li > a:focus {
		background: #acbf30;
		color: #fff;
	}
	
	.color-box {
		width: 100px;
		padding: 10px;
		border: 1px solid #fff;
		float: left;
		margin-right: 10px;
		min-height: 160px;
		position: relative;
	}
	
	.color-name {
		width: 80px;
		position: absolute;
		bottom: 10px;
		text-transform: uppercase;
		line-height: 14px;
		font-size: 12px;
	}
	
	.color {
		width: 80px;
		height: 80px;
	}
	
	.color-silver-light {
		background: #929292;
	}
	
	.color-silver-lighter {
		background: #858585;
	}
	
	.color-silver {
		background: #787878;
	}
	
	.color-silver-darker {
		background: #6b6b6b;
	}
	
	.color-silver-dark {
		background: #5f5f5f;
	}
	
	.color-charcoal-light {
		background: #505050;
	}
	
	.color-charcoal-lighter {
		background: #434343;
	}
	
	.color-charcoal {
		background: #363636;
	}
	
	.color-charcoal-darker {
		background: #292929;
	}
	
	.color-charcoal-dark {
		background: #1c1c1c;
	}
	
	.color-moss-light {
		background: #98b452;
	}
	
	.color-moss-lighter {
		background: #8aa548;
	}
	
	.color-moss {
		background: #7b9340;
	}
	
	.color-moss-darker {
		background: #6c8138;
	}
	
	.color-moss-dark {
		background: #5d6f31;
	}
	
	.color-ice-light {
		background: #cbdedb;
	}
	
	.color-ice-lighter {
		background: #bbd5d0;
	}
	
	.color-ice {
		background: #abcbc5;
	}
	
	.color-ice-darker {
		background: #9bc1ba;
	}
	
	.color-ice-dark {
		background: #8bb8af;
	}
	
	.color-orange-light {
		background: #f7b251;
	}
	
	.color-orange-lighter {
		background: #f6a838;
	}
	
	.color-orange {
		background: #f59d20;
	}
	
	.color-orange-darker {
		background: #f1920b;
	}
	
	.color-orange-dark {
		background: #d8830a;
	}
	
	.color-red-light {
		background: #ee7750;
	}
	
	.color-red-lighter {
		background: #eb6539;
	}
	
	.color-red {
		background: #e95322;
	}
	
	.color-red-darker {
		background: #dc4716;
	}
	
	.color-red-dark {
		background: #c43f14;
	}
	
	.color-platina-light {
		background: #a28c86;
	}
	
	.color-platina-lighter {
		background: #967e78;
	}
	
	.color-platina {
		background: #8a716b;
	}
	
	.color-platina-darker {
		background: #7c6560;
	}
	
	.color-platina-dark {
		background: #6d5955;
	}
	
	.color-rust-light {
		background: #b55128;
	}
	
	.color-rust-lighter {
		background: #a04724;
	}
	
	.color-rust {
		background: #8b3e1f;
	}
	
	.color-rust-darker {
		background: #76351a;
	}
	
	.color-rust-dark {
		background: #612b16;
	}
	
	.color-cumulus-light {
		background: #d3d3d3;
	}
	
	.color-cumulus-lighter {
		background: #c7c7c7;
	}
	
	.color-cumulus {
		background: #bababa;
	}
	
	.color-cumulus-darker {
		background: #adadad;
	}
	
	.color-cumulus-dark {
		background: #a1a1a1;
	}
	
	.color-yellow-light {
		background: #f5ce49;
	}
	
	.color-yellow-lighter {
		background: #f3c831;
	}
	
	.color-yellow {
		background: #f2c119;
	}
	
	.color-yellow-darker {
		background: #e5b40d;
	}
	
	.color-yellow-dark {
		background: #cca10c;
	}
	
	.color-citron-light {
		background: #c1d34f;
	}
	
	.color-citron-lighter {
		background: #bace3b;
	}
	
	.color-citron {
		background: #acbf30;
	}
	
	.color-citron-darker {
		background: #9aab2b;
	}
	
	.color-citron-dark {
		background: #879626;
	}
	
	.color-blue-light {
		background: #618cc8;
	}
	
	.color-blue-lighter {
		background: #4e7ec2;
	}
	
	.color-blue {
		background: #3f71b7;
	}
	
	.color-blue-darker {
		background: #3865a4;
	}
	
	.color-blue-dark {
		background: #325a91;
	}
	
	.color-paper {
		background: #f4f0e7;
	}
	
	.color-grey {
		background: #eee;
	}
	
	.color-black {
		background: #000;
	}
	
	.color-white {
		background: #fff;
	}
	
	.canvas h2 {
		margin-top: 2em;
	}
	
	.canvas .alert {
		margin: 2em 0 2em 0;
	}
	
	.canvas .table-responsive {
		background: #fff;
		padding: 20px;
	}
	
	.canvas form {
		background: #fff;
	}
	
	.canvas form .col-md-6,
	.canvas form .col-md-12 {
		padding: 20px;
	}
	
	.canvas .progress {
		background: #fff;
	}
	
	.canvas .spinner {
		border-bottom: 4px solid #fff;
		border-left: 4px solid #fff;
		border-right: 4px solid #fff;
		border-top: 4px solid #acbf30;
	}
	
	.canvas .spinner-small {
		width: 22px;
		height: 22px;
		border-bottom: 3px solid #fff;
		border-left: 3px solid #fff;
		border-right: 3px solid #fff;
		border-top: 3px solid #acbf30;
	}
	
	.canvas .spinner-large {
		width: 42px;
		height: 42px;
		border-bottom: 5px solid #fff;
		border-left: 5px solid #fff;
		border-right: 5px solid #fff;
		border-top: 5px solid #acbf30;
	}
	
	@media (max-width: 767px) {
		
		body {
			margin-top: 0;
		}
		
		#logo {
			padding: 0 35%;
		}
		
		.navbar-brand {
			height: auto;
		}
		
		.navbar-toggle {
			margin-top: 16px;
			margin-bottom: 16px;
		}
		
		.navbar-form {
			border: 0;
			margin: 0;
			padding: 16px;
		}
		
		.sidebar {
			position: static;
		}
		
		.footer,
		.canvas {
			margin-top: 2em;
		}
		
	}
